# ...

In [1]:
# Load auxiliar functions and configurations
%run utils_v4.ipynb

In [2]:
from sklearn.neighbors import KernelDensity

In [1]:
# Configurations

print('models_dataset_path', models_dataset_path, sep='\t')
print('models_output_path', models_output_path, sep='\t')

print('seasons_dict', *seasons_dict.items(), sep='\n\t')
print('models_start_year\t', models_start_year)
print('models_hour_interval\t ',models_hour_interval)
print('models_temp_filename\t', models_temp_filename)

NameError: name 'models_dataset_path' is not defined

In [4]:
all_models = get_data_models()

df_model = all_models[0]
df_model.head(), df_model.shape

(   year season  month  day          0          3          6          9  \
 0  1971    DJF      1    1        NaN  11.573877  11.497919  11.607233
 1  1971    DJF      1    2  11.958276  11.939844  11.485132  11.626123
 2  1971    DJF      1    3  11.544519   8.921289  10.041803  11.729303
 3  1971    DJF      1    4   9.212579   9.577661   8.420038   7.210016
 4  1971    DJF      1    5   5.736566   4.142877   3.907098   4.405695

           12         15         18         21
 0  12.477899  12.646783  12.173059  12.071863
 1  13.270898  13.209802  12.008325  11.341425
 2  14.040796  14.472437  11.233606  11.131281
 3   9.850305  11.528467   8.002100   5.873376
 4   8.222101  11.461633   7.662775   5.234552  , (12784, 12))

#### Filter list of models by 'JJA' season

In [5]:
# all_models_jja = list(map(partial(filter_df_by_season, season = 'JJA'), all_models))

In [6]:
# all_models_jja[0].head(), all_models_jja[0].shape

### Build a dataframe with all models results

In [7]:
df_models = df_all_models(all_models)
df_models.shape

(217328, 13)

### Save to dataframe

In [8]:
# save_df2csv(df_models, 'temp_models_3h_by_h', models_output_path)

In [9]:
# df_models.head()

,model,year,season,month,day,0,3,6,9,12,15,18,21
0,0,1971,DJF,1,1,NaN,11.573877,11.497919,11.607233,12.477899,12.646783,12.173059,12.071863
1,0,1971,DJF,1,2,11.958276,11.939844,11.485132,11.626123,13.270898,13.209802,12.008325,11.341425
2,0,1971,DJF,1,3,11.544519,8.921289,10.041803,11.729303,14.040796,14.472437,11.233606,11.131281
3,0,1971,DJF,1,4,9.212579,9.577661,8.420038,7.210016,9.850305,11.528467,8.002100,5.873376
4,0,1971,DJF,1,5,5.736566,4.142877,3.907098,4.405695,8.222101,11.461633,7.662775,5.234552

In [10]:
# df_models.tail()

,model,year,season,month,day,0,3,6,9,12,15,18,21
12779,16,2005,DJF,12,27,8.437402,8.738123,7.232263,7.574487,12.805688,10.070764,9.927332,10.203271
12780,16,2005,DJF,12,28,9.976129,9.447290,9.764154,9.562341,12.663812,11.221796,14.385187,14.734888
12781,16,2005,DJF,12,29,14.618555,15.034570,14.803705,14.339807,14.786432,14.102075,13.202295,12.916711
12782,16,2005,DJF,12,30,12.821497,12.874750,11.717401,12.552881,13.610193,13.234277,11.622400,11.042688
12783,16,2005,DJF,12,31,10.802362,11.451868,11.549951,11.694299,12.425684,13.258295,11.389764,9.625604

### Load dataframe

In [19]:
df_models_ = load_csv2df('temp_models_3h_by_h.csv', models_output_path)
df_models_.head()

,model,year,season,month,day,0,3,6,9,12,15,18,21
0,0,1971,DJF,1,1,NaN,11.573877,11.497919,11.607233,12.477899,12.646783,12.173059,12.071863
1,0,1971,DJF,1,2,11.958276,11.939844,11.485132,11.626123,13.270898,13.209802,12.008325,11.341425
2,0,1971,DJF,1,3,11.544519,8.921289,10.041803,11.729303,14.040796,14.472437,11.233606,11.131281
3,0,1971,DJF,1,4,9.212579,9.577661,8.420038,7.210016,9.850305,11.528467,8.002100,5.873376
4,0,1971,DJF,1,5,5.736566,4.142877,3.907098,4.405695,8.222101,11.461633,7.662775,5.234552

#### Filter only 'JJA' season

In [11]:
# df_models_jja.head()

In [20]:
df_models_jja = filter_df_by_season(df_models_, season = 'JJA')
df_models_jja.shape

(54740, 13)

### Descriptive stats for each model

In [21]:
# NOT WORKING!!!!! -  but maybe not necessary -> alternative get_percentiles()

percentiles_table(df_models_jja, range)

NameError: name 'values' is not defined

In [ ]:
desc = []
percentiles=np.asarray([1,5,25,50,75,95,99])/100
for cmod,model in enumerate(all_models_jja):
#     print('Stats for model {}'.format(cmod))
    df_desc = model[list(np.arange(0,22,3))].describe(percentiles=percentiles)
    df_desc = df_desc.T
    df_desc['model'] = cmod
    df_desc.reset_index(inplace=True)
    df_desc.rename(columns={'index': 'hour'}, inplace=True)
    df_desc.drop(['count', 'std'], axis=1, inplace=True)
    df_desc.set_index('model', inplace=True)
    desc.append(df_desc)
    

models_desc = pd.concat(desc, axis=0)
models_desc.head()

#### Percentiles for each model for each hour hour

In [ ]:
fig, axs = plt.subplots(nrows=4, ncols=2, figsize=(15, 30), sharex=True, sharey=True)
fig.suptitle('Temperature stats')

for hour,ax in zip(range(0,22,3), axs.flat):
    df_temp = models_desc[models_desc['hour'] == hour].drop(['hour'], axis=1)
    ax.plot(df_temp)
    ax.set_title('Hour = {}'.format(hour))

fig.legend(labels = df_temp.columns, loc='upper right')
plt.show()

### Compare percentiles intermodels for each hour

In [ ]:
for hour in range(0,22,3):
#     whiskers = [5, 95]
    _ = df_models.boxplot(column = hour, by = 'model', figsize=(16, 10))#, whis = whiskers)
    plt.grid(True)
    plt.title('Hour = {}'.format(hour))

## PDF, CDF...

In [ ]:
# COMPUTE THE PDF for each model JJA joining (pooling toghether) all hours and by hour

### For each model, all hours (pooling together)

In [ ]:
for cmod,model in enumerate(all_models_jja):
    print('PDF for model {}'.format(cmod))
    all_hours = model.iloc[:,4:].values.reshape(-1)
    _, _ = compute_pdf_cdf(all_hours, plot=True)

### Same as before but using KDE (ML)
*For each model, all hours (pooling together)

In [ ]:
for cmod,model in enumerate(all_models_jja):
    print('PDF for model {}'.format(cmod))
    all_hours = model.iloc[:,4:].values.reshape(-1)
    _ = compute_pdf_KDE(all_hours, plot=True)

### For each model pooling together by hour

In [ ]:
for cmod,model in enumerate(all_models_jja):
    all_hours = model.iloc[:,4:]
    for hour in all_hours:
        print('PDF for model = {} @ hour = {}'.format(cmod, hour))
        one_hour = all_hours[hour].values
        _ = compute_pdf_KDE(one_hour, plot=True)

In [ ]:
list(np.random.randint(0, 2)*2-1 for s in range(n))

### SIMPLER PDF

In [ ]:
data = np.abs(np.random.randn(100)*2)



def pdf(data, bins = None):
    if not bins:
        bins = range(0, 51)
    return np.histogram(data, bins = bins, density=True)



data_pdf, bins = pdf(data)
len(bins), len(data_pdf)
bins

plt.plot(bins[:-1], data_pdf)

def pdf(series, bins = None):
    '''
        pdf for pandas dataSeries, using a numpy array func
        returns both the density and the bin edges
    '''
    if not bins:
        bins = range(0, 51)   # 0ºC to 50ºC
    return np.histogram(series, bins = bins, density=True)

def df_pdf(df, bins = None):
    return df.apply(pdf, bins = bins)

df_pdf(df, bins = None)