# CORDEX models' error metrics:

In [1]:
version = '7'

In [2]:
# Load auxiliar functions and configurations
filename = 'utils_v{}.ipynb'.format(version)
%run $filename

In [3]:
# Configurations
print('cordex_output_path', cordex_output_path)
print('temp_output_path', temp_output_path)
print('cordex_dict_raw', cordex_dict_raw)
print('temp_obs_col', temp_obs_col)
print('models_cols', models_cols)

cordex_output_path ..\data\cordex\output
temp_output_path ..\data\observations\temp\output
cordex_dict_raw {0: 'CNRM-CERFACS-CNRM-CM5_historical_r1i1p1_CNRM-ALADIN63_v2', 1: 'CNRM-CERFACS-CNRM-CM5_historical_r1i1p1_DMI-HIRHAM5_v2', 2: 'CNRM-CERFACS-CNRM-CM5_historical_r1i1p1_SMHI-RCA4_v1', 3: 'ICHEC-EC-EARTH_historical_r12i1p1_SMHI-RCA4_v1', 4: 'ICHEC-EC-EARTH_historical_r3i1p1_DMI-HIRHAM5_v2', 5: 'IPSL-IPSL-CM5A-MR_historical_r1i1p1_SMHI-RCA4_v1', 6: 'MOHC-HadGEM2-ES_historical_r1i1p1_ICTP-RegCM4-6_v1', 7: 'MOHC-HadGEM2-ES_historical_r1i1p1_SMHI-RCA4_v1', 8: 'MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1', 9: 'MPI-M-MPI-ESM-LR_historical_r1i1p1_DMI-HIRHAM5_v1', 10: 'MPI-M-MPI-ESM-LR_historical_r1i1p1_ICTP-RegCM4-6_v1', 11: 'MPI-M-MPI-ESM-LR_historical_r1i1p1_SMHI-RCA4_v1a', 12: 'MPI-M-MPI-ESM-LR_historical_r3i1p1_GERICS-REMO2015_v1', 13: 'NCC-NorESM1-M_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1', 14: 'NCC-NorESM1-M_historical_r1i1p1_DMI-HIRHAM5_v3', 15: 'NCC-NorESM1-M_historical_r1i1p1_GERICS-REMO2015_v1', 16: 'NCC-NorESM1-M_historical_r1i1p1_SMHI-RCA4_v1'}
temp_obs_col 17
models_cols [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Loading the data from file - JJA

In [4]:
df_all_jja = load_csv2df('cordex_join_obs_jja.csv', cordex_output_path, freq_index='3H')

In [5]:
df_all_jja.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
date,,,,,,,,,,,,,,,,,,
1979-06-01 00:00:00,13.419122,14.471643,14.328729,13.729150,13.672754,10.644250,12.337183,10.969507,16.211725,19.048730,14.766718,16.977441,12.107019,14.522089,15.005762,15.043542,10.745996,12.933333
1979-06-01 03:00:00,12.501764,14.402551,12.254663,14.001581,13.041925,9.791833,11.918695,10.839319,15.977960,18.184839,15.022180,16.634790,11.559991,14.790338,14.716455,14.938684,11.698389,12.233333
1979-06-01 06:00:00,11.911584,13.907617,11.871179,13.747766,12.438898,9.561914,12.052179,10.406824,16.152734,17.723444,13.791528,16.666528,11.469415,15.098444,14.315088,15.044244,13.068018,11.933333
1979-06-01 09:00:00,15.474115,17.524805,18.803857,15.239832,16.544214,12.460474,14.724603,15.226221,22.113336,21.220728,16.057153,18.326074,15.713953,17.690302,15.798486,15.259332,16.350977,15.533333
1979-06-01 12:00:00,17.844873,19.986719,24.058984,16.716211,21.106104,13.730859,18.498956,18.569238,27.650629,25.784845,17.785272,20.640039,18.421106,20.991083,21.013086,16.919702,19.115137,18.900000

## Bias

#### Bias by hour

In [6]:
df_bias_jja , _ = metric_by_hour(bias, df_all_jja, models_cols, temp_obs_col)
df_bias_jja

TypeError: cannot concatenate object of type "<class 'tuple'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [ ]:
plt_metrics_by_hour(df_bias_jja, 'JJA: Bias for 17 CORDEX models by hour',
                    filename='bias_jja', sub_folder='metrics')

### Sigma score - Normalized standard deviation measure

In [ ]:
df_sigma_jja , _ = metric_by_hour(sigma_score, df_all_jja, models_cols, temp_obs_col)
df_sigma_jja

In [ ]:
plt_metrics_by_hour(df_sigma_jja, 'JJA: Sigma score for 17 CORDEX models by hour',
                    filename='sigma_jja', sub_folder='metrics')

### Perkins skill score

In [ ]:
df_perkins_jja , _ = metric_by_hour(perkins_skill_score, df_all_jja, models_cols, temp_obs_col)
df_perkins_jja

In [ ]:
plt_metrics_by_hour(df_perkins_jja, 'JJA: Perkins Skill score for 17 CORDEX models by hour',
                    filename='perkins_jja', sub_folder='metrics')

### Yule-Kendall skewness

In [ ]:
df_yk_jja = YK_skewness_by_hour(df_all_jja, models_cols, temp_obs_col)
df_yk_jja

In [ ]:
plt_metrics_by_hour(df_yk_jja, 'JJA: Yule-Kendall skewness for 17 CORDEX models by hour',
                    filename='yk_jja', sub_folder='metrics')

## Metrics for all seasons

### DJF

In [ ]:
df_all_djf = load_csv2df('cordex_join_obs_djf.csv', cordex_output_path, freq_index='3H')
df_bias_djf , _ = metric_by_hour(bias, df_all_djf, models_cols, temp_obs_col)
plt_metrics_by_hour(df_bias_djf, 'DJF: Bias for 17 CORDEX models by hour', filename='bias_djf', sub_folder='metrics')
df_sigma_djf , _ = metric_by_hour(sigma_score, df_all_djf, models_cols, temp_obs_col)
plt_metrics_by_hour(df_sigma_djf, 'DJF: Sigma score for 17 CORDEX models by hour', filename='sigma_djf', sub_folder='metrics')
df_perkins_djf , _ = metric_by_hour(perkins_skill_score, df_all_djf, models_cols, temp_obs_col)
plt_metrics_by_hour(df_perkins_djf, 'DJF: Perkins Skill score for 17 CORDEX models by hour', filename='perkins_djf', sub_folder='metrics')
df_yk_djf = YK_skewness_by_hour(df_all_djf, models_cols, temp_obs_col)
plt_metrics_by_hour(df_yk_djf, 'DJF: Yule-Kendall skewness for 17 CORDEX models by hour', filename='yk_djf', sub_folder='metrics')

### MAM

In [ ]:
df_all_mam = load_csv2df('cordex_join_obs_mam.csv', cordex_output_path, freq_index='3H')
df_bias_mam , _ = metric_by_hour(bias, df_all_mam, models_cols, temp_obs_col)
plt_metrics_by_hour(df_bias_mam, 'MAM: Bias for 17 CORDEX models by hour', filename='bias_mam', sub_folder='metrics')
df_sigma_mam , _ = metric_by_hour(sigma_score, df_all_mam, models_cols, temp_obs_col)
plt_metrics_by_hour(df_sigma_mam, 'MAM: Sigma score for 17 CORDEX models by hour', filename='sigma_mam', sub_folder='metrics')
df_perkins_mam , _ = metric_by_hour(perkins_skill_score, df_all_mam, models_cols, temp_obs_col)
plt_metrics_by_hour(df_perkins_mam, 'MAM: Perkins Skill score for 17 CORDEX models by hour', filename='perkins_mam', sub_folder='metrics')
df_yk_mam = YK_skewness_by_hour(df_all_mam, models_cols, temp_obs_col)
plt_metrics_by_hour(df_yk_mam, 'MAM: Yule-Kendall skewness for 17 CORDEX models by hour', filename='yk_mam', sub_folder='metrics')

### SON

In [ ]:
df_all_son = load_csv2df('cordex_join_obs_son.csv', cordex_output_path, freq_index='3H')
df_bias_son , _ = metric_by_hour(bias, df_all_son, models_cols, temp_obs_col)
plt_metrics_by_hour(df_bias_son, 'SON: Bias for 17 CORDEX models by hour', filename='bias_son', sub_folder='metrics')
df_sigma_son , _ = metric_by_hour(sigma_score, df_all_son, models_cols, temp_obs_col)
plt_metrics_by_hour(df_sigma_son, 'SON: Sigma score for 17 CORDEX models by hour', filename='sigma_son', sub_folder='metrics')
df_perkins_son , _ = metric_by_hour(perkins_skill_score, df_all_son, models_cols, temp_obs_col)
plt_metrics_by_hour(df_perkins_son, 'SON: Perkins Skill score for 17 CORDEX models by hour', filename='perkins_son', sub_folder='metrics')
df_yk_son = YK_skewness_by_hour(df_all_son, models_cols, temp_obs_col)
plt_metrics_by_hour(df_yk_son, 'SON: Yule-Kendall skewness for 17 CORDEX models by hour', filename='yk_son', sub_folder='metrics')